# ASP.NET specific
bin/
obj/
packages/
wwwroot/
App_Data/

# Visual Studio specific
.vs/
.vscode/

# JetBrains Rider/IntelliJ IDEA specific
.idea/

# ReSharper
_ReSharper/

# User-specific files
*.user
*.suo
